

.bg { 
  /* The image used */
  background-image: url("../images/green.jpg");
/*background-image:"images/back_1.jpg";*/
  /* Full height */
  /* Center and scale the image nicely */
  height: 800px;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
}

